<mat-toolbar color="primary">
    <span> <a routerLink="">Sensor app</a></span>
    <ul>
      <li>
        <a mat-button routerLink="/sensorList" routerLinkActive="mat-accent"
          >List Sensors</a
        >
      </li>
      <li>
        <a mat-button routerLink="/sensorRegister" routerLinkActive="mat-accent"
          >Add sensor</a
        >
      </li>
      <li>
        <a mat-button routerLink="/errorList" routerLinkActive="mat-accent"
          >Errors</a
        >
      </li>
    </ul>
  </mat-toolbar>
